[Desktop Entry]
Version=1.0
Type=Application
Name=openfortivpn
Icon=network-vpn
Exec=/path/para/svpn --host host.com.br
Comment=Inicia conexão VPN
Categories=Development;IDE;
Terminal=false
StartupWMClass=svpn
